.chat-back {
  position: absolute;
  left: 10px;
}
@media only screen and (max-width: 600px) {
  .chat-header {
    padding: 12px;
    justify-content: center;
  }
  .chat-body-title {
    text-align: center;
    align-self: center;
  }
}
