.chat-back {
  position: absolute;
  left: 10px;
}
.header-right {
  position: absolute;
  right: 10px;
}
.chat-header-rename {
  margin-left: 2px;
  display: none;
  font-weight: bold;
  color: #999;
  &:hover {
    display: inline-block;
  }
}
.chat-body-main-title {
  height: 26px;
  cursor: pointer;
  margin-bottom: -1px;
  &:hover {
    .chat-header-rename {
      display: inline-block;
    }
  }
}
@media only screen and (max-width: 600px) {
  .chat-header {
    padding: 8px 12px;
    justify-content: center;
  }
  .chat-body-title {
    text-align: center;
    align-self: center;
  }
  .chat-header-rename {
    margin-left: 1px;
    display: inline-block;
    transform: scale(0.8);
  }
}
.header-rename-input {
  text-align: left;
  margin-right: 4px;
  margin-bottom: 1px;
  box-sizing: border-box;
}
